
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# SQLite databases
*.db
*.sqlite3

# Git ignore system files
AppData/
Local/
Temp/

# GVN Logs & History
*.log
live_market_history.csv
live_market_data.json

# VS Code settings
.vscode/
